h1 ペパトーーーク！にようこそ

h2 ランチで楽しくおしゃべりしよう🥳

= link_to '部屋を作る', new_room_path

p
  |
    使い方<br>
    * 上のリンクから部屋を作ろう<br>
    * 専用のURLが発行されるのでメンバーにslackで共有しよう<br>
    * そのURLから事前に話題を登録してもらおう<br>
    * 話題が集まったらゲームを開始しよう<br>
    * 表示される話題についてみんなで話そう<br>
