.home__title
  text-align: center
  white-space: nowrap
  +mq($from: mobile, $until: desktop)
    font-size: 3rem
  +mq($from: desktop)
    font-size: 7rem

.home__sub-title
  text-align: center
  white-space: nowrap
  +mq($from: mobile, $until: desktop)
    font-size: 1.25rem
  +mq($from: desktop)
    font-size: 2.25rem
  .home__title + &
    margin-top: .75em

.home__action
  display: flex
  justify-content: center
  .home__hgroup + &
    +mq($from: mobile, $until: desktop)
      margin-top: 1.5rem
    +mq($from: desktop)
      margin-top: 3rem

.home__nav
  display: flex
  justify-content: center
  font-size: 1.25rem
  margin-left: -.75em
  margin-right: -.75em
  .home__action + &
    margin-top: 1.5rem

.home__nav-link
  display: block
  padding: 0 .75em
