.a-button
  display: flex
  align-items: center
  justify-content: center
  background-color: $black
  text-decoration: none
  font-weight: 800
  color: $yellow
  padding: 0 2em
  border-radius: .25em
  cursor: pointer
  transition: all .2s ease-out
  white-space: nowrap
  height: 2.75em
  +mq($from: mobile, $until: desktop)
    font-size: 1.25rem
    min-width: 100%
  +mq($from: desktop)
    font-size: 1.75rem
    min-width: 8em
  &:hover
    color: $orange
    background-color: rgba($black, .95)
    box-shadow: $orange 0 0 0 .125em
  &.is-danger
    background-color: $red
    color: white
